{% extends 'catalog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<header>
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal text-body-emphasis">Добавление статьи</h1>
    </div>
</header>
<div class="col-12">
    <div class="row">
        <form method="post" enctype="multipart/form-data">
            <div class="card">
                <div class="card-body">
                    {% csrf_token %}
                    {% crispy form %}
                    <input type="submit" name="submit" value="Сохранить" class="btn btn-primary">`
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}