{% extends 'blog/base.html' %}

{% block content %}
<header>
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal text-body-emphasis">Внимание</h1>
        <p class="fs-5 text-body-secondary">Вы находитесь на странице для удаления продукта</p>
    </div>
</header>

<main>
    <div class="row">
        <div class="col-12">
            <form method="post">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Хотите удалить продукт {{ object.title }}? </h5>
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger active">Удалить</button>
                        <a href="{% url 'product_list' %}" class="btn btn-success active">Отмена</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>
{% endblock %}
