{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
<header>
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal text-body-emphasis">Главная</h1>
        <p class="fs-5 text-body-secondary">Вы находитесь на сайте, предназначенном для продажи товаров</p>
    </div>
</header>
<main class="row g-2">
    {% for product in object_list %}
    <div class="col-3">
        <div class="card m-2">
            <h5 class="card-header">Хотите купить?</h5>
            <div class="card-body">
                <h5 class="card-title"><a href="{% url 'product_detail' product.pk %}">{{ product.name }}</a>
                </h5>
                <p class="card-text">{{ product.description | format_str }}</p>
                <a href="{% url 'update_product' product.pk %}" class="btn btn-primary">Обновить информацию</a>
                <a href="{% url 'delete_product' product.pk %}" class="btn btn-danger">Удалить товар</a>
            </div>
        </div>
    </div>
    {% endfor %}
</main>
{% endblock %}